.container2 
{
  position: relative;

}
.overlay2
 {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 40px;
  right: 0;
  height: 70px;
  width: 70px;
  opacity: 1;
  transition: .5s ease;
}

.container2:hover .overlay2 
{
  opacity: 1;
  background: url(../images/html3logo_u_boji.png);
  background-repeat: no-repeat;
}
