.container3 
{
  position: relative;

}
.overlay3
 {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 50px;
  width: 50px;
  opacity: 1;
  transition: .5s ease;
}

.container3:hover .overlay3 
{
  opacity: 1;
  background: url(../images/js_logo_u_boji_m-overlay.png);
  background-repeat: no-repeat;
}
