.container4 
{
  position: relative;
}

.overlay4
 {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 130px;
  width: 130px;
  opacity: 1;
  transition: .5s ease;
}

.container4:hover .overlay4 
{
  opacity: 1;
  background: url(../images/php_logo_boja_overlay);
  background-repeat: no-repeat;
}
